.carrossel-titulo {
    color: var(--dark-red);
    text-align: center;
    background-color: var(--pure-white);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em 0 0.5em 0;
}

.swiper {
    background-color: var(--secondary-white);
    z-index: 1;
}

.swiper-slide {
    width: 100%;
    text-align: center;
    padding: 8px;
    margin: 0px 6px 12px 12px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.swiper-pagination {
    position: initial;
    background-color: transparent;
    margin: 0.5em 0;
}

.swiper-pagination-bullet {
    background-color: var(--dark-red);
}

.swiper-wrapper {
    background-color: transparent;
}

.swiper-slide__name {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: var(--dark-red);
}