.menu {
    background-color: var(--pure-white);
    padding: 16px 24px 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: var(--main-font);
}

.menu-content {
    margin: 0px 16px 0 16px;
}

.menu-menu {
    width: 24px;
    height: 24px;
    background-image: url("../assets/svgs/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container__botao-imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    left: 0%;
    top: 100%;
    width: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.container-botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--pure-white);
}

.lista-menu__titulo {
    color: var(--main-red);
    font-weight: 700;
    font-size: 22px;
    background-color: var(--secondary-white);
    border-bottom: solid 2px var(--gray);
}

.lista-menu__link {
    background: var(--dark-red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container-botao {
    display: none;
}

.menu-perfil {
    width: 24px;
    height: 24px;
    background-image: url("../assets/svgs/Usuario.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.lista-usuario {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    text-align: right;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.container-botao:checked~.lista-usuario {
    display: block;
}

.lista-usuario__titulo,
.lista-usuario__item {
    background-color: var(--pure-white);
}

.lista-usuario__titulo {
    color: var(--main-red);
    background-color: var(--secondary-white);
}

.lista-usuario__link {
    color: var(--dark-red);
}

.titulo-principal {
    text-decoration: none;
    font-size: 32px;
    font-weight: 500;
    color: var(--main-red);
}